# Stripe publishable key
export STRIPE_PUBLISHABLE_KEY="YOUR_STRIPE_PUBLISHABLE_KEY"

# Stripe secret key (don't share this!)
export STRIPE_SECRET_KEY="YOUR_STRIPE_SECRET_KEY"

# The Stripe plan to subscribe new customers to
export STRIPE_PRICE_ID="YOUR_STRIPE_PRICE_ID"

# Keyrix product token (don't share this!)
export KEYRIX_PRODUCT_TOKEN="YOUR_KEYRIX_PRODUCT_TOKEN"

# Your Keyrix account ID
export KEYRIX_ACCOUNT_ID="YOUR_KEYRIX_ACCOUNT_ID"

# The Keyrix policy to use when creating licenses for new users
# after they successfully subscribe to a plan
export KEYRIX_POLICY_ID="YOUR_KEYRIX_POLICY_ID"